@using CDOrganizer.Models;

<h1>CD List</h1>

<ul>
@if (Model.Count == 0)
{
  <p>You have no items in your CD list!</p>
}
@if(Model.Count != 0)
{
  @foreach (CD cd in Model)
  {
    <li><a href='/CDs/@CD.GetId()'>@CD.GetCD()</a></li>
  }
}
</ul>

<a href="/CDs/new">Add a new CD.</a>

<form action="/CD/delete" method="post">
  <button type="submit" name="button">Clear All CDs</button>
</form>
