<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CD List!</title>
  </head>
  <body>
    <h1>CD List</h1>

    <form action="/CDs" method="post">
      <label for="title">Add a new CD</label>
      <input id="title" name="title" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
